name: CI

on:
  push:
    branches: [ "main" ]

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write  

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & push backend image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/jobtracker-backend:latest .
          docker push ghcr.io/${{ github.actor }}/jobtracker-backend:latest

      - name: Build & push frontend image
        run: |
          docker build -t ghcr.io/${{ github.actor }}/jobtracker-frontend:latest ./job-app-tracker-frontend
          docker push ghcr.io/${{ github.actor }}/jobtracker-frontend:latest
